* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

/* first page */

/* mobile m, 375px */
@media (min-width: 375px) {
    .container-1 {
        width: 31.5rem;
    }
} 

/* ============================= */
/* second page */

/* mobile s, 320px */
@media (min-width: 320px) {
    .container-2 {
        width: 29rem;
    }
}

/* mobile m, 375px */
@media (min-width: 375px) {
    .container-2 {
        width: 31.5rem;
    }
} 

/* mobile l, 425px */
@media (min-width: 425px) {
    .container-2 {
        width: 36.5rem;
    }
}

/* tablet, 768px */
@media (min-width: 768px) {
    .container-2 {
        width: 45.0rem;
    }
}