/*  setup information */

/*  font-family: "Lato", sans-serif;
    color: #fff;
*/

/*  body
    background-color: #090e22;
*/

/*  container 
    background-color: #1d1e33;
*/

/*  label text color 
    color: #ccc;
*/

/*  calculator button 
    background-color: #f44236;
*/

/*  clear button 
    background-color: #444;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    background-color: #090e22;

    /* Strategy to center all page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hide {
    display: none;
}

/* first page */

.container-1 {
    background-color: #1d1e33;
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
}

/* header */

.header {
    margin-bottom: 4rem;
}

.title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.portugueseSubtitle {
    color: #ccc;
    font-size: 1rem;
}

/* main */

.main {
    margin-bottom: 4rem;
}

.labelsInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.wrapLabelInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    text-align: left;
    color: #ccc;
    font-size: 1.5rem;
}

.inputHeight, .inputWeight {
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btnCalculate {
    background-color: #f44236;
    width: 50%;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.7;
}

.btnCalculate:hover {
    opacity: 1;
    transition: all .5s;
}

.btnClean {
    background-color: #444;
    width: 50%;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.7;
}

.btnClean:hover {
    opacity: 1.2;
    transition: all .5s;
}

/* footer */

.footer {
    color: #ccc;
    font-size: 1rem;
}

.footer a {
    color: #f44236;
    font-weight: bold;
}

/* ============================= */

/* second page */

.container-2 {
    background-color: #1d1e33;
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
}

.wrapTitleSubtitleSp {
    margin-bottom: 3rem;
}

.titleSecondPage {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.subtitleSecondPage {
    color: #fff;
    font-size: 2rem;
}

.ratingInfoSp {
    margin-bottom: 3rem;
}

.titleRatings {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.headerTable {
    color: #ccc;
    font-size: 1.2rem;
}

.infoTable {
    color: #fff;
    font-size: 1.2rem;
}

table {
    margin: 0 auto;
}

th, td {
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #ccc;
}

.btnReturn {
    background-color: #f44236;
    width: 50%;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.7;
    margin-bottom: 4rem;
}

.btnReturn:hover {
    opacity: 1;
    transition: all .5s;
}















