/*  setup information */

/*  font-family: "Lato", sans-serif;
    color: #fff;
*/

/*  body
    background-color: #090e22;
*/

/*  container 
    background-color: #1d1e33;
*/

/*  label text color 
    color: #ccc;
*/

/*  calculator button 
    background-color: #f44236;
*/

/*  clear button 
    background-color: #444;
*/
